/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.3em;
    background-color: #d2d2d2;
  }
  .time_splash{
    font-size: 1.5em;
  }
 .splash {
    margin: .5em;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    color: blue;
    height: 75%;
  }
 .photo-splash {
    height: 65%;
    width: 85%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  }
  .splash-head {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 4em;
    padding-top: 1.4em;
  }
  .jumbotron {
    height: 100% !important;
  }